.navbar{
    background-color:white;
    height: 80px;
    font-size:20px;
    font-family: 'Contrail One', cursive;
    }

    .navbar.Brand{
    font-family: 'Contrail One', cursive;
    color:black;
  }

.logo{
  width: 70px;
  height: 70px;
}
.logo2{
    width: 120px;
    height: 120px;  
}

.logo1{
  width: 100px;
  height: 100px;
}

.blog-footer{
  padding: 2.5rem;
  color: white;
  background-color: white;
  border-top: .05rem solid #e5e5e5;
}

.text-footer{
  text-decoration-color: white;
  color: white;
}

h1{
  padding: 3%;
  font-family: 'Contrail One', cursive;
}

Form{
  font-family: 'Contrail One', cursive;
}
