.navbar{
    background-color:white;
    height: 80px;
    font-size:20px;
    }

    .navbar.Brand{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
  }

.logo{
  width: 70px;
  height: 70px;
}

.logo1{
  width: 100px;
  height: 100px;
}

.blog-footer{
  padding: 2.5rem;
  color: white;
  background-color: white;
  border-top: .05rem solid #e5e5e5;
}

.text-footer{
  text-decoration-color: white;
  color: white;
}

ul{
  margin-bottom: 10%;
}